<section class="flex flex-col justify-center gap-5 md:flex-row lg:px-40">
  <div>
    <div class="max-w-md p-0.5 border border-gray-200 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 dark:bg-gray-800 dark:border-gray-700">
      <div class="pt-8 pb-5 bg-white rounded-md px-9">
        <a routerLink="/services/ffmpeg-img-convert">
          <h3 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <span class="inline-block font-bold text-transparent bg-gradient-to-r from-purple-600 via-indigo-500 to-purple-400 bg-clip-text">WASM</span>
            <span class="inline-block font-bold text-transparent bg-gradient-to-r from-green-600 via-green-500 to-green-400 bg-clip-text">&nbsp;FFmpeg</span>
          </h3>
          <h4 class="text-2xl font-bold tracking-tight text-gray-600 dark:text-white">
            Image Convertor
          </h4>
        </a>
        <p class="mt-5 font-semibold text-gray-600 dark:text-gray-400">
          A Game-Changer in Online Image Conversion
        </p>

        <div class="flex justify-between mt-10">
          <span></span>
          <a routerLink="/services/ffmpeg-img-convert" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-bold text-gray-600 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              Read More
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="max-w-md p-0.5 border border-gray-200 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 dark:bg-gray-800 dark:border-gray-700">
      <div class="pt-8 pb-5 bg-white rounded-md px-9">
        <a href="https://pdftools.kayinleong.tech">
          <h3 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            <span class="inline-block font-bold text-transparent bg-gradient-to-r from-purple-600 via-indigo-500 to-purple-400 bg-clip-text">WASM</span>
            <span class="inline-block font-bold text-transparent bg-gradient-to-r from-teal-200 to-lime-200 bg-clip-text">&nbsp;Blazor</span>
          </h3>
          <h4 class="text-2xl font-bold tracking-tight text-gray-600 dark:text-white">
            PDF Tools
          </h4>
        </a>
        <p class="mt-5 font-semibold text-gray-600 dark:text-gray-400">
          (Still in development)
        </p>

        <div class="flex justify-between mt-10">
          <span></span>
          <a href="https://pdftools.kayinleong.tech" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-bold text-gray-600 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              Preview
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
