<section class="flex flex-col gap-5 lg:px-40">
  <div class="w-full p-0.5 border border-gray-200 rounded-lg bg-gradient-to-br from-pink-500 to-orange-400 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center justify-center px-5 pt-8 pb-5 bg-white rounded-md md:flex-row">
      <img class="h-20" src="assets/images/FFmpeg.webp" />

      <svg class="w-10 h-10 mx-20 md:w-16 md:h-16 my-7 md:my-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
      </svg>

      <img class="h-20" src="assets/images/WebAssembly.webp" />
    </div>
  </div>

  <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-purple-600 via-indigo-500 to-purple-400 bg-clip-text">WASM</span>
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-green-600 via-green-500 to-green-400 bg-clip-text">&nbsp;FFmpeg</span>
    <span class="text-gray-600"> Image Convertor</span>: A Game-Changer in Online Image Conversion
  </h1>
  <p class="-mt-3 font-semibold text-gray-600">
    Hello dear readers! Today, we are excited to introduce a revolutionary new service on our website
    that's bound to make image conversions smoother, faster, and more efficient than ever before:
    the
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-purple-600 via-indigo-500 to-purple-400 bg-clip-text">WASM</span>
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-green-600 via-green-500 to-green-400 bg-clip-text">&nbsp;FFmpeg</span>
    <span class="font-bold text-gray-600">&nbsp;Image Convertor</span>.
  </p>

  <h3 class="mt-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
    What is
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-purple-600 via-indigo-500 to-purple-400 bg-clip-text">WASM</span>
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-green-600 via-green-500 to-green-400 bg-clip-text">&nbsp;FFmpeg?</span>
  </h3>
  <p class="-mt-3 font-semibold text-gray-600">
    Before diving into the specifics of our service, it's important to understand the magic behind it.
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-green-600 via-green-500 to-green-400 bg-clip-text">WebAssembly (WASM)</span>
    is a binary instruction format
    for a stack-based virtual machine. In simpler terms, it's a code that runs in your web browser,
    providing near-native performance, which means blazing fast speeds!
  </p>
  <p class="-mt-3 font-semibold text-gray-600">
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-green-600 via-green-500 to-green-400 bg-clip-text">FFmpeg</span>,
    on the other hand, is a well-known software
    suite that handles multimedia data. It's incredibly versatile and can convert audio or video
    formats with a high level of proficiency.
  </p>
  <p class="-mt-3 font-semibold text-gray-600">
    Combine the two, and what you get is an incredibly powerful image conversion tool that runs right
    in your web browser!
  </p>

  <h3 class="mt-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
    Why Our
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-purple-600 via-indigo-500 to-purple-400 bg-clip-text">WASM</span>
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-green-600 via-green-500 to-green-400 bg-clip-text">&nbsp;FFmpeg</span>
    Image Convertor is Special
  </h3>
  <ol class="pl-5 -mt-5 font-semibold text-gray-600 list-decimal">
    <li class="mt-3">
      <span class="font-bold text-gray-600">
        Speed:
      </span>
      Given that it uses WebAssembly, our service runs close to native speeds. This means no
      more waiting for prolonged periods just to convert your images. The conversions are swift,
      ensuring you don't waste any time.
    </li>
    <li class="mt-3">
      <span class="font-bold text-gray-600">
        Versatility:
      </span>
      <span class="inline-block font-bold text-transparent bg-gradient-to-r from-green-600 via-green-500 to-green-400 bg-clip-text">FFmpeg's</span>
      robustness means our tool can handle a myriad of image formats, both popular and
      niche. Whether it's JPEG, PNG, BMP, or any other format you can think of, our service has
      got you covered.
    </li>
    <li class="mt-3">
      <span class="font-bold text-gray-600">
        Security:
      </span>
      One of the primary concerns with online converters is the security of your data. With our
      <span class="inline-block font-bold text-transparent bg-gradient-to-r from-purple-600 via-indigo-500 to-purple-400 bg-clip-text">WASM</span>
      <span class="inline-block font-bold text-transparent bg-gradient-to-r from-green-600 via-green-500 to-green-400 bg-clip-text">&nbsp;FFmpeg</span>
      Image Convert Service, all conversions are done in your browser. This means
      your images are never uploaded to any server, ensuring complete data privacy.
    </li>
    <li class="mt-3">
      <span class="font-bold text-gray-600">
        Ease of Use:
      </span>
      No downloads, no installations, no sign-ups. Simply visit our website, drop your image,
      select the desired format, and let the magic happen!
    </li>
    <li class="mt-3">
      <span class="font-bold text-gray-600">
        Quality:
      </span>
      Thanks to
      <span class="inline-block font-bold text-transparent bg-gradient-to-r from-green-600 via-green-500 to-green-400 bg-clip-text">FFmpeg</span>,
      the quality of conversions remains top-notch. Your images retain their
      clarity and sharpness, ensuring you don't compromise on quality.
    </li>
  </ol>

  <h3 class="mt-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
    How to Use the Service
  </h3>
  <ol class="pl-5 -mt-5 font-semibold text-gray-600 list-decimal">
    <li class="mt-2">
      Visit the website at
      <a href="https://services.kayinleong.com/services/ffmpeg/img-convert" class="font-bold text-gray-600">https://services.kayinleong.com/services/ffmpeg/img-convert</a>.
    </li>
    <li class="mt-2">
      Drag and drop (or select) the image you wish to convert.
    </li>
    <li class="mt-2">
      Choose your desired output format.
    </li>
    <li class="mt-2">
      Click on 'Convert'.
    </li>
    <li class="mt-2">
      Voilà! Image(s) will be download automatically after conversion.
    </li>
  </ol>

  <h3 class="mt-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
    In Conclusion
  </h3>
  <p class="-mt-3 font-semibold text-gray-600">
    In today's fast-paced digital era, the need for efficient tools is greater than ever.
    Our
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-purple-600 via-indigo-500 to-purple-400 bg-clip-text">WASM</span>
    <span class="inline-block font-bold text-transparent bg-gradient-to-r from-green-600 via-green-500 to-green-400 bg-clip-text">&nbsp;FFmpeg</span>
    Image Convert Service not only meets this demand but surpasses it,
    providing a reliable, quick, and secure solution for all your image conversion needs.
  </p>
  <p class="-mt-3 font-semibold text-gray-600">
    Don't just take our word for it. Try it out for yourself and witness the future of
    online image conversion!
  </p>

  <div class="flex justify-between mt-10">
    <span></span>
    <a routerLink="/services/ffmpeg-img-convert/img-convert" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-bold text-gray-600 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        Try Now!
      </span>
    </a>
  </div>
</section>
